* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: CaviarDreams;
  src: url("./fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: CaviarDreamsBold;
  src: url("./fonts/CaviarDreams_Bold.ttf");
}

body {
  font-family: CaviarDreams;
}

section {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px auto 200px;
  grid-template-areas:
    "header-left header-center header-right"
    "body-left body-center body-right"
    "footer-left footer-center footer-right";
  row-gap: 0.5rem;
  min-width: 100vw;
  min-height: 100vh;
}
