* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: CaviarDreams;
  src: url("./fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: CaviarDreamsBold;
  src: url("./fonts/CaviarDreams_Bold.ttf");
}

body {
  font-family: CaviarDreams;
}

section {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  grid-template-rows: 100px auto 200px;
  grid-template-areas:
    "header-left side-menu header-center header-right"
    "body-left side-menu body-center body-right"
    "footer-left side-menu body-center footer-right";
  row-gap: 0.5rem;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
