<div class="groupview-wrapper">
    <div id="group-metadata">
        <h1>{{ group }}</h1>
        <div id="group-content">
            <div class="play-groups">
                {{#each playNums}}
                <div class="play-group">
                    <div class="group-win-score"></div>
                    <div class="playgroup-title"> {{@key}} </div>
                    {{#each this}}
                    <div class="play-number"> {{this}} </div>
                    {{/each}}
                    <div class="group-pred-score"></div>
                </div>
                {{/each}}
            </div>
        </div>
        <a href="/home">
            <div class="close-btn">&#10060; CLOSE</div>
        </a>
    </div>
    <div class="group-main">
        <div id="group-display">
            <h2> Group Number Wheel - 28 </h2>
            <div id="group-select"></div>
            <div id="group-wheel"></div>
        </div>
        <div class="group-controls">
            <div class="message-bar" id="message-board"></div>
            <div class="control-buttons">
                <button id="group-train-btn">TRAIN</button>
                <button id="group-predict-btn">PREDICT</button>
            </div>
        </div>
    </div>
</div>