<div class="groupview-wrapper">
    <div id="group-metadata">
        <h1>{{ group }}</h1>
        <div id="group-content"></div>
        <a href="/home">
            <div class="close-btn">CLOSED</div>
        </a>
    </div>
    <div id="group-display">
        <div id="group-datatable"></div>
        <div>
            <button>UPDATE</button>
            <button>TRAIN</button>
            <button>PREDICT</button>
            <button>RELOAD</button>
        </div>
    </div>
</div>