<div class="login-wrapper">
    <div id="login-logo">
        <img src="./images/logo.png" alt="Logo">
    </div>
    <div id="login-form">
        <img src="./images/login3.png" alt="Login">
        <h2>Member Login</h2>
        <form action="/home" method="GET">
            <input type="email" placeholder="Email"><br />
            <input type="password" placeholder="Password"><br />
            <button>LOGIN</button>
        </form>
        <div>
            <p>Forgot the password? <span><a href="">Click Here</a></span> to reset password</p>
            <p>New user? <span><a href="">Click Here</a></span> to become a member</p>
        </div>
    </div>
</div>