table {
	max-width: 100%;
	font-size: smaller;
	margin-top: 0.5rem;
}

table th {
	background-color: #000000;
	color: #ffffff;
	text-align: left;
	height: 1.5rem;
	padding-left: 0.2rem;
}

table td {
	/*border: 1px solid white;*/
	background-color: #ffc300;
	padding-left: 0.2rem;
}

.nav-wrapper {
	display: flex;
	width: 100%;
	height: 12vh;
	padding: 0.5rem;
}

.main-logo {
	width: 14%;
}

.main-logo img {
	height: 3.5rem;
}

.nav-menu {
	width: 76%;
	text-align: center;
	padding: 0 1rem;
}

.nav-menu h2 {
	border: 1px solid #000000;
	border-radius: 0.5rem;
	background-color: aqua;
	padding: 0.75rem;
}

.logout-btn {
	width: 10%;
}

.logout-btn div {
	width: 100%;
	height: 3.5rem;
	font-weight: 600;
	border: 1px solid #000000;
	border-radius: 0.5rem;
	padding: 1.2rem 2rem;
}

.homeview-wrapper,
.groupview-wrapper {
	display: flex;
	width: 100%;
}

.group-info {
	position: absolute;
	bottom: 0.5rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 98%;
}

.group-info div {
	padding: 0.2rem;
	font-size: 0.75rem;
	font-weight: 600;
}

.group-info span {
	font-weight: 400;
	color: #ff0000;
}

#draw-control {
	width: 30%;
	padding: 0.5rem 1rem;
}

#new-draw {
	width: 100%;
	height: 6rem;
	background-color: #ffc300;
	border: 1px solid #000000;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

#new-draw input {
	height: 2rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	border-radius: 0.25rem;
}

#new-draw-date {
	width: 8.5rem;
}

#new-draw-numbers {
	width: 12.5rem;
	margin-left: 0.5rem;
}

#new-draw button {
	width: 15rem;
	height: 2rem;
	margin: 0.5rem 3rem;
	font-weight: 600;
	border-radius: 0.25rem;
}

#draw-history {
	width: 100%;
	max-height: 80vh;
	margin-top: 1rem;
}

#draw-history h4 {
	width: 100%;
	height: 2rem;
	background-color: aqua;
	border-radius: 0.5rem;
	text-align: center;
	padding: 0.5rem;
}

#view-control {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 70%;
}

#view-control a {
	width: 50%;
	text-decoration-line: none;
}

#view-control .group-link {
	position: relative;
	height: 12rem;
	background-color: #c2bdbd;
	margin: 0.25rem;
	padding: 0.5rem;
	border: 1px solid #000000;
	border-radius: 0.5rem;
}

#view-control h1 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

#view-control div:hover {
	background-color: burlywood;
}

#group-metadata {
	width: 30%;
	height: 90vh;
	margin: 1rem;
}

#group-content {
	width: 100%;
	height: 75vh;
}

#group-metadata h1 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.close-btn {
	width: 12rem;
	height: 2rem;
	font-weight: 600;
	background-color: #00ff00;
	margin-left: 8rem;
	padding: 0.5rem 4rem;
}

#group-display {
	width: 70%;
	height: 90vh;
	margin: 1rem;
	border: 1px solid #000000;
	padding: 0.5rem;
	justify-content: center;
}

#group-display button {
	width: 9.5rem;
	height: 2rem;
	margin: 0 2rem;
	font-weight: 600;
	background-color: #00ff00;
}

#group-datatable {
	width: 100%;
	height: 83vh;
}
