.misen-display {
  grid-area: body-center;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.game-container {
  /* border: 1px solid rgba(0, 0, 0, 0.7); */
  height: 100%;
  position: relative;
  overflow: hidden;
  /* padding: 1rem; */
}

.table-header-container,
.table-data-container {
  display: grid;
  grid-template-columns: 5% 8% 15% 10% 23% 6% 6% 8% 14%;
  column-gap: 0.5rem;
  width: 100%;
  font-weight: 600;
  font-family: CaviarDreamsBold;
}

.table-header-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  height: 2rem;
}

.table-data-container {
  font-family: CaviarDreams !important;
  font-size: 0.9rem;
}

.table-data-container div {
  text-align: center;
  height: 1.25rem;
  margin-top: 0.2rem;
}

.table-data-container button {
  height: 1.2rem;
  margin-top: 0.2rem;
}

.table-header-new {
  cursor: pointer;
}

.game-form-overlay, 
.game-details-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(49, 49, 49, 0.8);
  cursor: pointer;
  pointer-events: none;
}

.game-form-container, 
.game-details-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 24rem;
  min-height: 32rem;
  margin: 4rem auto;
  pointer-events: visible;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.new-game-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-game-form h2 {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.new-game-form div {
  display: flex;
  flex-direction: column;
  min-height: 4rem;
  margin: 0 4rem;
}

.new-game-form label {
  font-size: 1ren;
  font-weight: 600;
}

.new-game-form input {
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.new-game-form button {
  width: 14rem;
  height: 2.5rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  cursor: pointer;
}

.game-form-exit {
  text-align: center;
  text-decoration: underline;
  margin-top: 5rem;
}

.game-form-exit span {
  min-width: 8rem;
}

.menu-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.overlay-active {
  /* backdrop-filter: blur(1.5px) saturate(85%); */
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.menu-container {
  width: 16rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateX(-100%);
  transition: 0.5s;
  padding: 0.5rem;
}

.menu-active {
  transform: translateX(0%);
  transition: 0.5s;
}

.menu-container h2 {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0.25rem;
}

.menu-container div {
  width: 100%;
  height: 2rem;
  cursor: pointer;
}
